@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
.header {
  background-color: $color-primary;
  height: 10rem;
  position: fixed;
  width: 100%;
  z-index: 9999;

  &__container {
    width: 85%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    font-size: 1.6rem;
    color: red;
    padding: 0.5rem 2rem;
    box-shadow: 0 0px 1px $color-secondary-light;

    &:active {
      transition: all 0.3s;

      box-shadow: 0 0px 5px $color-secondary-light;
    }
  }

  &__name {
    color: $color-white;
    font-weight: bold;
    padding: 1rem;
    background-color: $color-secondary-light;
    border-radius: 50%;
    color: $color-white;
    font-weight: bold;
    border: 2px solid $color-secondary;

    a {
      font-size: 3rem;
      font-family: "Josefin Sans", sans-serif;
      text-decoration: none;
      color: #ccc;
    }

    span {
      color: #ccc;
      font-family: "Roboto", sans-serif;
    }
  }
}
