.footer {
  background-color: $color-primary;
  text-align: center;

  &__list {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  &__heading {
    font-size: 2rem;
    color: $color-white;
    margin-bottom: 1rem;
  }

  &__item {
    width: 100%;
    &--list {
      color: $color-white;
      background-color: $color-secondary-light;
      margin-bottom: 1rem;
      font-size: 1.4rem;
      padding: 2rem;

      &.start {
        background-color: $color-secondary;
        border: 1px solid $color-ascent;
      }

      a {
        color: $color-white;
        text-decoration: none;
      }

      &.now {
        background-color: $color-ascent;
        color: $color-primary;
      }
    }
  }
}
