.footer {
  background-color: $color-primary;
  text-align: center;

  &__list {
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
  }

  &__heading {
    font-size: 2rem;
    color: $color-white;
    margin-bottom: 1rem;
  }

  &__item {
    text-align: start;

    &--list {
      color: $color-white;
      // background-color: $color-secondary-light;
      margin-bottom: 1rem;
      font-size: 1.4rem;

      a {
        color: $color-white;
        text-decoration: none;
      }

      &.now {
        background-color: $color-ascent;
        color: $color-primary;
      }
    }
  }
}
