.IconImage {
  img {
    width: 100%;
  }
}

.site {
  text-align: center;
  padding-bottom: 2rem;
  &__name {
    font-size: 3rem;
    color: $color-white;
    font-weight: bold;

    span {
      padding: 1rem;
      background-color: #fff;
    }
  }
}

.paddingTop {
  padding-top: 10rem;
}

textarea {
  width: 100%;
  height: 10rem;
}

.col {
  @media only screen and (min-width: $bp-medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
}
